.Timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-top: 3rem;
  gap: 1rem;
  background: #883d1a;
  height: 4rem;
  border-radius: 5px;
}

.Timer > h1 {
  font-weight: 200;
}
