.WorkModeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  height: 3rem;
  width: 10rem;
  background: #551e1a;
  color: black;
}

.WorkOn {
  color: white;
}

.WorkOff {
  color: black;
}

.BreakTimeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  height: 3rem;
  width: 10rem;
  background: #e6b27d;
  color: black;
}
