.Navigation {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.NavigationMobile {
  background: #551e1a;
  font-size: medium;
}

.Logo {
  height: 3rem;
  width: 3rem;
}

.NavigationSidePanel {
  display: flex;
  flex-direction: column;
}

.NavigationSidePanelMobile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100vw;
}
