.FooterContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(136, 60, 26, 1) 12%,
    rgba(84, 29, 26, 1) 75%
  );
  color: white;
}

.Footer {
  height: 10rem;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: end;
}

.FooterHeart {
  margin: 0 1rem;
}
