@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #883d1a;
  min-height: 100vh;
}

.App {
  display: grid;
  text-align: center;
}

.click {
  cursor: pointer;
}

.click:hover {
  transition: 0.4s;
  color: #e6b27e;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}
